AddDefaultCharset utf-8
Options -Indexes
ErrorDocument 404 /404
RewriteEngine On
RewriteCond %{HTTP} off
RewriteCond %{HTTP:X-Forwarded-Proto} !http
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^main(/?)$ index.php?action=main [L,QSA]
RewriteRule ^start(/?)$ index.php?action=start [L,QSA]
RewriteRule ^donate(/?)$ index.php?action=donate [L,QSA]
RewriteRule ^login(/?)$ index.php?action=login [L,QSA]
RewriteRule ^restore(/?)$ index.php?action=restore [L,QSA]
RewriteRule ^exit(/?)$ index.php?action=exit [L,QSA]
RewriteRule ^profile(/?)$ index.php?action=profile [L,QSA]